@font-face {
    font-family: "Montserrat-Regular";
    src: url(Montserrat-Regular.ttf);
  }
  
	body {
		margin:0;
		overflow-x: hidden;
		font-family: "Montserrat-Regular";
		background:#E3E3E3;
		color:black;
		user-select: none; /* supported by Chrome and Opera */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
		}
		
	.full {
		width:100%;
		text-align:center;
		padding-bottom:100px;
		}
		
		
.lg { 
padding:5vh 0;
margin-bottom:2vh; transition:all .5s ease;
display: flex; justify-content: center; align-items: center;
color:white; font-weight:800;
}

		
	.top-img {
		width:100vw;
		
		}

.layout-bg {
	display:flex; flex-wrap:wrap;
	justify-content:space-around;
	}
	
	.layout, .layout1 {
		width:45vw;
		background:white;
		margin-bottom:2vh;
		z-index:9;
		display:block;
		border-radius:8px;
		padding-top:10px;
		padding-bottom:10px;
		transition:all .5s ease;
		animation: layout 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 1;
		}
	.layout:active, .layout1:active {
		transition-duration: .2s;
		background:#dadada;
		color:white;
		}
	@keyframes layout {
		0% {transform:translateY(150%); opacity:0;}
		100% {transform:translateY(0%); opacity:1;}
		}
		
 .img {
		width:15vw;
		height:15vw;
        border-radius:5px;
		}

        .lock {
		width:20px;
		transform:translateX(5px);
		}

        .ad {
		font-size:12px;
		color:#D14A00;
		}
		
	.no-ad {
		font-size:12px;
		color:#C2B400;
		}

	.text {
		font-size:4vw;
		font-weight:600;
		padding-top:2vw;
		}
		
	.loading {
		width:100vw;
		height:100vh;
		position:fixed; top:0; left:0;
		z-index:15;
		display:flex; flex-wrap:wrap;
		justify-content:center;
		align-items:center;
		font-size:6vw;
		display:none;
		}
	.loading-ct {animation:loading 1s ease 1; }
	@keyframes loading {
		0% {opacity:0;} 100% {opacity:1;}
		}
		
		
		